@model tblLopHocPhan

@{
    ViewBag.Title = "BangDiem";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Action("LoadItem", "LopHocPhan", new { id = @ViewBag.MaLHP })

<div class="card shadow mb-4 border-left-info">
    <div class="card-header py-3">
        <div class="float-left mt-2">
            <h5 class="m-0 text-primary">Bảng điểm quá trình</h5>
        </div>
        <div class="float-right mb-n3 row">
            <div class="d-flex">
                @*<a class="btn btn-info mx-2" data-toggle="modal" data-target="#TinhDiemModal"><i class="fas fa-calculator"></i> Tính điểm quá trình</a>*@
                @using (Html.BeginForm("ExportToExcel", "LopHocPhan", FormMethod.Get, new { @class = "formexport" }))
                {
                    <input name="id" id="LopHocPhan" type="hidden" value="" />
                }
                <a class="export btn btn-success"><i class="fas fa-download"></i> Export Excel</a>
                @*<a class="btn btn-primary mx-2" data-toggle="modal" data-target="#importModal"><i class="fas fa-upload"></i> Import điểm quá trình</a>*@
            </div>
        </div>
    </div>
    <div class="card-body LoadBangDiem">
        @Html.Action("LoadBangDiem", "LopHocPhan", new { id = ViewBag.MaLHP })
    </div>
    <div class="card-footer">

    </div>
</div>


@section Script {


    @*Link script sử dụng table view*@

    <!-- Page level plugins -->
    <script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Assets/js/demo/datatables-demo.js"></script>

    <!-- Custom styles for this page -->
    <link href="~/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $(".nav-2").addClass("show");

            $('.item-3').addClass("active");

        });

        // Export to Excel
        $('body').on('click', '.export', function () {
            $('#LopHocPhan').val(@ViewBag.MaLHP);
            $('.formexport').submit();
        });
    </script>
}